
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

#notice{
    height: 80vh;
    width: 70vw;
    border: 5px solid rgb(94, 14, 14);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#notice h3{
    text-align: center;
}
#noticboard{
    text-align:justify;
    color: rgb(110, 10, 10);
    font-size: xx-large;
    font-weight: 600;
    padding: 12px; 
    background-color: rgb(204, 162, 162);
    border-radius: 4px;
    z-index: -20px;
}
marquee{
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: -20px;
}
marquee img{
    width: 100%;
    height: 100%;
}
.section1{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
h1{
    padding: 10px;
    text-align: center;
    margin: 50px;
    border-bottom: 5px solid black;
}
p{
    text-align:justify;
    margin: 0px 10 10 50px;
    font-size: 25px;
    padding: 10px;
}
.Container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Container .heading{
    font-size:x-large;
    font-weight: bolder;
    border-bottom: 5px;
    text-align: center;
    width: 100%;
}
.Container .heading span{
    opacity: 0.5;
}
.Container .image{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    margin: 20px;
    padding: 0px 20px;
}
.footer_container{
    margin: 30px 0px;
    padding-top: 20px;
    background-color: rgb(228, 228, 216);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    text-align: center;

    
}
h4{
    padding: 20px 0px;
    
}
.footer_column1{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

}

.footer_column1 a{
    text-decoration: none;
    color: #7e818a;
}
.footer_column2{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;

}
.footer_column2 a{
    text-decoration: none;
    color: #7e818a;
}
.footer_column3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.copy_right{
    color: #3e4152;
    padding: 20px;
    text-align: end;
    font-size:10px;
    width: 100%;
}
.footer_column3 p{
    color: #7e818a;
    font-size: 1em;
}
.footer_column3 pre{
    color: #7e818a;
    font-size: 1em;
    font-family:'Times New Roman', Times, serif;
}

@media (max-width:700px) {
    #notice{
        height: 55vh;
        width: 100vw;
    }   
    .footer_container{
        font-size:10px;
      }
      .footer_container h4{
        font-size: medium;
    }
    
}
@media (min-width:1400px) {
    .Container .heading{
        font-size: xx-large;
        width: 40%;
    }
    .Container .image{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
    }
    img{
        width: 100%;
        height: 100%;
    }
    .copy_right{
        font-size:20px;
    }
}